<style>
    .nav-title{
        display: none;
    }
</style>

<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet"> 
<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
<!--<div class="layui-inline" title=" Imprimir " onclick=preview(1) ><i class="layui-icon layui-icon-print" style="font-size: 30px; color: #1E9FFF;">&#xe621;</i></div>-->
<!--<button type="button" onclick="substituir('[[medicamento]]','cetoprofeno 600mg')" class="layui-icon layui-icon-print"><i class="fa fa-bolt"></i> Gerar</button>-->

<form class="layui-form" name="form" action="" method="post" >
    <div>
        <label class="label-micro">Paciente: {{.paciente.Nome}}</label>
        <label class="label-micro">Modelo: {{.Modelo.Nome}}</label>
        <!--<button class="layui-btn layui-btn-xm" lay-submit="" lay-filter="atualizar" >Atualizar</button>-->
        <hr>

        {{range $key,$item := .Modelo.Campos}}
            <label id="label{{$key}}" class="label-micro">{{$item.Nome}}</label>
            <input type="text" id="campo{{$key}}" onblur="esconder({{$key}},true)" onfocus="substituir({{$item}},this.value,{{$key}})" onchange="substituir({{$item}},this.value,{{$key}})" name="{{$item.Nome}}" value="{{$item.Resposta}}"  class="layui-input form-control field-text" />
            <input type="hidden" name="inicio{{$key}}" autocomplete="off" id="inicio[]" class="fields" value="0">
            <input type="hidden" name="fim{{$key}}" autocomplete="off" id="fim[]" class="fields" value="0">
        {{end}}
    </div>

    <div quill-editor-toolbar id="toolbar" style="border:none;"></div>

    <div id="editor" style="height: 950px; max-height: 950px; overflow: auto; border:  solid 1px #f51f1f;"></div>
    
</form>

<input type="hidden" name="conteudo" autocomplete="off" id="conteudo" class="layui-input" value="{{.Modelo.Detalhe}}">

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>


<!-- Initialize Quill editor -->
<script>

    var quill = new Quill('#editor', {
        modules: {
            toolbar: "#toolbar",
        },
        theme: 'snow'
    });
    quill.root.innerHTML = document.getElementById("conteudo").value;

  </script>

<script src="/static/layui/layui.js?s=36"></script>
<script language="javascript">
    var $,form;
    
    layui.config({
            base : "js/"
        }).use(['form','element','layer','jquery'],function(){
          form = layui.form; //Somente após esta etapa ser realizada, alguns elementos do formulário serão decorados automaticamente com sucesso
          $ = layui.jquery;
          
        });

    function esconder(key,esconder){
        var label = document.getElementById("label" + key); ;
        label.hidden = esconder;   

        var input = document.getElementById("campo" + key); ;
        input.hidden = esconder;   

    }

    function substituir(campo,valor,key) {

        var p1 = $("input[name^=inicio" + key + "]").val();
        var p2 = $("input[name^=fim" + key + "]").val();


        var c = '[['+campo.Nome+']]';
        bdhtml=quill.root.innerHTML;// Get the... Of the current page html Code
        if (p1 == 0) {
            p1 = bdhtml.indexOf(c); // localiza inicio do campo
            if (p2 == 0) {
                p2 = p1 + c.length;
            }
        }
        //console.log(valor);
        //console.log(p1);
     
        if (valor != '') {
            if (p1 > 0) {
                $("form[name=form]").find("input[name=inicio" + key + "]").val(p1);
                //console.log(campo.Fim);
            }
            console.log(p1);
            console.log(p2);
            parte1=bdhtml.substring(0,p1); // pega a parte inicial 
            parte2=bdhtml.substring(p2,bdhtml.length); // pega a parte final
            p2 = (+p1) + valor.length;

            //console.log(valor.length);
            //console.log(p2);
            $("form[name=form]").find("input[name=fim" + key + "]").val(p2);

            quill.root.innerHTML= parte1 + valor + parte2;
       }    
    }


</script>

<!-- <input type=button name='button_export' title=' Print ' onclick=preview(1) value= Print 1>-->
