@charset "utf-8";
body {    
    background: #DDD;     
}        

.label-micro {
	font-family:arial, helvetica, sans-serif;
    font-size: 9px; 
}

.form-control {margin:0 0 12px;}    

.nav-title {
	background: #9ea5a5;
    border: 1px solid #011414;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}